<!--portfolio.ejs-->
<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
     <!-- Site Metas -->
    <title>GoodWEB Solutions - Responsive HTML5 Landing Page Template</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Modernizer for Portfolio -->
    <script src="js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__bar"></div>
			<div class="loader__ball"></div>
		</div>
    </div><!-- end loader -->
    <!-- END LOADER -->
    
    <%- include('../halfSheet/topbar.ejs') %>
    <%- include('../halfSheet/header.ejs') %>
   	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Our Portfolio</h2>
						<ul class="page-title-link">
							<li><a href="#">Home</a></li>
							<li><a href="#">Our Portfolio</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="portfolio" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Portfolio</h3>
                <p class="lead">We build professional website templates, web design projects, material designs and UI kits. <br>Some of our awesome completed projects in below.</p>
            </div><!-- end title -->
        </div><!-- end container -->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <nav class="portfolio-filter text-center">
                        <ul>
                            <li><a class="btn btn-dark btn-radius btn-brd active" href="#" data-filter="*"><span class="oi hidden-xs" data-glyph="grid-three-up"></span> All</a></li>
                            <li><a class="btn btn-dark btn-radius btn-brd" data-toggle="tooltip" data-placement="top" title="5" href="#" data-filter=".cat1">Design</a></li>
                            <li><a class="btn btn-dark btn-radius btn-brd" href="#" data-toggle="tooltip" data-placement="top" title="12" data-filter=".cat2">Mockup</a></li>
                            <li><a class="btn btn-dark btn-radius btn-brd" href="#" data-toggle="tooltip" data-placement="top" title="21" data-filter=".cat3">Logos</a></li>
                            <li><a class="btn btn-dark btn-radius btn-brd" href="#" data-toggle="tooltip" data-placement="top" title="11" data-filter=".cat4">HTML</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <hr class="invis">

            <div id="da-thumbs" class="da-thumbs portfolio">
                <!-- <div class="post-media pitem item-w1 item-h1 cat1">
                    <a href="uploads/portfolio_01.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_01.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Seahorse by Trevor <small>Web Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat2">
                    <a href="uploads/portfolio_02.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_02.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Tradested Mockop <small>Graphic Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat1">
                    <a href="uploads/portfolio_03.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_03.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Photography Material <small>Photography</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat4">
                    <a href="uploads/portfolio_04.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_04.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Responsive Menu <small>UI Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat3">
                    <a href="uploads/portfolio_05.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_05.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>SnowMaker App <small>Application</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat2">
                    <a href="uploads/portfolio_06.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_06.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>3D Mockups <small>Graphic Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat1">
                    <a href="uploads/portfolio_07.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_07.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Best of Design <small>Web Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat4">
                    <a href="uploads/portfolio_08.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_08.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Admin Dashboard <small>Admin Template</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>
                <div class="post-media pitem item-w1 item-h1 cat3">
                    <a href="uploads/portfolio_09.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_09.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Radio Mockup <small>Graphic Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div>

                <div class="post-media pitem item-w1 item-h1 cat2">
                    <a href="uploads/portfolio_10.jpg" data-rel="prettyPhoto[gal]">
                        <img src="uploads/portfolio_10.jpg" alt="" class="img-responsive">
                        <div>
                            <h3>Danny Jeffers <small>Web Design</small></h3>
                            <i class="flaticon-unlink"></i>
                        </div>
                    </a>
                </div> -->
                <% portfolios.forEach(portfolio => { %>
                    <div
                      class="post-media pitem item-w1 item-h1 <%= portfolio.group %>"
                    >
                      <a href="<%= portfolio.image %>" data-rel="prettyPhoto[gal]">
                        <img
                          src="<%= portfolio.image %>"
                          alt=""
                          class="img-responsive"
                        />
                        <div>
                          <h3>
                            <%= portfolio.title %>
                            <small><%= portfolio.category %></small>
                          </h3>
                          <i class="flaticon-unlink"></i>
                        </div>
                      </a>
                    </div>
                    <% }); %>
            </div><!-- end portfolio -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div id="services" class="parallax section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Our Service</h3>
                <p class="lead">Our Service unlimited solutions to all your business needs. in the installation package we prepare search engine optimization, social media support, we provide corporate identity and graphic design services.</p>
            </div><!-- end title -->

            <div class="owl-services owl-carousel owl-theme">
                <% services.forEach(service => { %>
                    <div class="service-widget">
                        <div class="post-media wow fadeIn">
                            <a href="<%= service.image %>" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
                            <img src="<%= service.image %>" alt="" class="img-responsive img-rounded">
                        </div>
                        <div class="service-dit">
                            <h3><%= service.title %></h3>
                            <p><%= service.description %></p>
                        </div>
                    </div>
                <% }); %>
                
                <!-- end service -->
            </div><!-- end row -->
            <hr class="hr1">

            <div class="text-center">
                <a data-scroll href="#portfolio" class="btn btn-light btn-radius btn-brd">View Our Portfolio</a>
            </div>
        </div><!-- end container -->
    </div><!-- end section -->

    <%- include('../halfSheet/testimonial.ejs') %>

    <%- include('../halfSheet/footer.ejs') %>
    <%- include('../halfSheet/copyrights.ejs') %>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>
    <script src="js/portfolio.js"></script>
    <script src="js/hoverdir.js"></script>    

</body>
</html>