<header class="header header_style_01">
    <nav class="megamenu navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logos/logo.png" alt="image"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/index">Home</a></li>
                    <li class="<%= currentPage === 'about' ? 'active' : '' %>"><a href="/about-us">About us</a></li>
                    <li class="<%= currentPage === 'services' ? 'active' : '' %>"><a href="/services">Our Services</a></li>
                    <li class="<%= currentPage === 'portfolio' ? 'active' : '' %>"><a href="/portfolio">Portfolio</a></li>
                    <li class="<%= currentPage === 'features' ? 'active' : '' %>"><a href="/features">Features</a></li>
                    <li class="<%= currentPage === 'testimonials' ? 'active' : '' %>"><a href="/testimonials">Testimonials</a></li>
                    <li class="<%= currentPage === 'pricing' ? 'active' : '' %>"><a href="/pricing">Pricing</a></li>
                    <li class="<%= currentPage === 'contact' ? 'active' : '' %>"><a href="/contact">Contact</a></li>
            </div>
        </div>
    </nav>
</header>